.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.body-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid black;
    width: 95vw;
    height: 90vh;
    /* padding: 10px; */
}