.display {
    display: grid;
    grid-template-columns: 2;
    
}

.title {
    background: black;
    color: white;
}

table, th, td{
    border: black 1px solid;
    border-collapse: collapse;
    text-align: center;
    padding: 2px;
}

td {
    overflow: auto;
    width: 40px;
}

th {
    width: 40px;
}